html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

a {
    text-decoration: underline;
    color: black;
}

.wrapper_a {
    width: 100%;
    height: 100%;
}

a:hover {
    color: #2c2c2c;
    text-decoration: underline;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 92vw;
    padding-left: 4vw;
    padding-right: 4vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background: white;
    z-index: 20000;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.right-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.language-navs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.language-nav {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
    filter: grayscale(75%);
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.language-nav.active {
    filter: grayscale(15%);
}

.language-nav:hover, .language-nav:focus {
    transform: scale(110%);
    filter: grayscale(55%);
    text-decoration: none;
}


section {
}

.main-button {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    border-radius: 1em;
    background: black;
    color: white;
    padding: 0.5em 1em;
    border: none;
    font-family: inherit;
    cursor: pointer!important;
}

.main-button:hover {
    background: #2c2c2c;
}

#hero {
    position: relative;
    padding: 8vh 0 0;
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    max-width: 40%;
    background: rgba(255, 255, 255, 0.25);
    z-index: 10000;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        max-width: 70%;
    }
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    max-width: 60%;
    background: rgba(255, 255, 255, 0.25);
    z-index: 10000;
    margin: 0;
}

@media (max-width: 768px) {
    .hero-subtitle {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        max-width: 85%;
    }

}

.hero-image {
    display: block;
    max-width: 150%;
    max-height: 150%;
    object-fit: cover;
}


.hero-image-container-1 {
    position: absolute;
    top: 25vh;
    left: 9vw;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    z-index: 1000;

}

@media (max-width: 768px) {
    .hero-image-container-1 {
        width: 32vw;
        height: 32vw;
        top: 15vh;
    }
}

.hero-image-container-2 {
    position: absolute;
    top: 32vh;
    left: 86vw;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    z-index: 1000;

}

@media (max-width: 768px) {
    .hero-image-container-2 {
        width: 50vh;
        height: 50vh;
        top: 22vh;
        left: 60vw;
    }
}


.hero-image-container-3 {
    position: absolute;
    top: 80vh;
    left: -15vw;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    z-index: 1000;

}

@media (max-width: 768px) {
    .hero-image-container-3 {
        width: 50vh;
        height: 50vh;
        top: 75vh;
        left: -70vw;
    }
}

.gallery-container {
    height: 75vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(250, 250, 250);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.highlights-title {
    margin: 0;
    font-size: 2rem;
}

.highlight-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}

.highlight-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    height: 100%;
    gap: 1rem;
}

.highlight-item-description {
    width: 100%;
    text-align: center;
}



.highlight-image-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-image {
    display: block;
    max-width: fit-content;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.general-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    background: rgb(190, 190, 190);
}

@media (max-width: 768px) {
    .general-section {
        flex-direction: column-reverse;
    }
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    height: 100%;
}
@media (max-width: 768px) {
    .left-side {
        width: 100%;
        height: 50%;
    }
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

@media (max-width: 768px) {
    .right-side {
        width: 100%;
        height: 50%;
    }
}

.content-wrapper {
    max-width: 75%;

}

.image-container {
    width: fit-content;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-image {
    display: block;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-container {
        height: 60%;
    }
}

.zoom-on-hover-short-small {
    transition: transform 0.2s ease-in-out;
}

.zoom-on-hover-short-small:hover {
     transform: scale(1.05);
}

.zoom-on-hover-short-medium {
    transition: transform 0.3s ease-in-out;
}

.zoom-on-hover-short-medium:hover {
     transform: scale(1.1);
}

.zoom-on-hover-short-large {
    transition: transform 0.4s ease-in-out;
}

.zoom-on-hover-short-large:hover {
     transform: scale(1.15);
}


.round-image-container {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.round-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}







