html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: #2c2c2c;
    text-decoration: underline;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 92vw;
    padding-left: 4vw;
    padding-right: 4vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background: white;
    z-index: 20000;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

section {
    padding-right: 2vw;
    padding-left: 2vw;
}

.main-button {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    border-radius: 1em;
    background: black;
    color: white;
    padding: 0.5em 1em;
    border: none;
    font-family: inherit;
    cursor: pointer!important;
}

.main-button:hover {
    background: #2c2c2c;
}

#hero {
    position: relative;
    padding: 8vh 0 0;
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    max-width: 40%;
    background: rgba(255, 255, 255, 0.25);
    z-index: 10000;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        max-width: 70%;
    }
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    max-width: 60%;
    background: rgba(255, 255, 255, 0.25);
    z-index: 10000;
    margin: 0;
}

@media (max-width: 768px) {
    .hero-subtitle {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        max-width: 85%;
    }

}

.hero-image {
    display: block;
    max-width: 150%;
    max-height: 150%;
    object-fit: cover;
}


.hero-image-container-1 {
    position: absolute;
    top: 25vh;
    left: 9vw;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    z-index: 1000;

}

@media (max-width: 768px) {
    .hero-image-container-1 {
        width: 32vw;
        height: 32vw;
        top: 15vh;
    }
}

.hero-image-container-2 {
    position: absolute;
    top: 32vh;
    left: 86vw;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    z-index: 1000;

}

@media (max-width: 768px) {
    .hero-image-container-2 {
        width: 50vh;
        height: 50vh;
        top: 22vh;
        left: 60vw;
    }
}


.hero-image-container-3 {
    position: absolute;
    top: 80vh;
    left: -15vw;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    z-index: 1000;

}

@media (max-width: 768px) {
    .hero-image-container-3 {
        width: 50vh;
        height: 50vh;
        top: 75vh;
        left: -20vw;
    }
}

#highlights {
    height: 75vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);

}

